<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.netty" level="INFO"/>
    <logger name="reactor" level="INFO"/>

    <logger name="discord4j.core" level="INFO"/>
    <logger name="discord4j.gateway" level="INFO"/>
    <logger name="discord4j.rest" level="INFO"/>
    <logger name="discord4j.dispatch" level="INFO"/>
    <logger name="discord4j.events" level="INFO"/>

    <logger name="com.github.shirleh" level="TRACE"/>
</configuration>